*.deps
*.libs
Makefile
autoscan.log
conf.lo
conf.o
configure.scan
footpath
footpath.o
libutils.la
COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/Makefile.in
utils/Makefile.in

